@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
  font-family: "yekanbakh", "yekanbakhbold";
}

@font-face {
  font-family: "yekanbakh";
  src:
    url("./assets/fonts/yekan-bakh/YekanBakh-Regular.woff2") format("woff2"),
    url("../assets/fonts/IRANSansX-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "yekanbakhbold";
  src: url("./assets/fonts/yekan-bakh/YekanBakh-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* debug */

html,
body {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background: var(--bg-main);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#app {
  display: flex;
  min-height: 100vh;
}

#sidebar {
  width: 260px;
  transition: background-color 0.3s ease;
}

#main {
  flex: 1;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.tasks-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.task-column {
  background: var(--bg-card);
  border-radius: 12px;
  padding: 12px;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.sidebar {
  background: var(--bg-sidebar);
}

.card {
  background: var(--bg-card);
  transition: background-color 0.3s ease;
}

.text {
  color: var(--text-primary);
  transition: color 0.3s ease;
}
.main-bg {
  background: var(--bg-main);
}

.sidebar-bg {
  background: var(--bg-sidebar);
}

.card-bg {
  background: var(--bg-card);
}

.active-bg {
  background: var(--bg-active);
}

.primary-text {
  color: var(--text-primary);
}

.secondary-text {
  color: var(--text-secondary);
}

.muted-text {
  color: var(--text-muted);
}

.caption-text {
  color: var(--text-caption);
}

.border-color {
  border-color: var(--border);
}

.soft-border {
  border-color: var(--border-soft);
}

.dashed-border {
  border-color: var(--border-dashed);
}
.light-text {
  color: #afaeb2;
}

.dark .light-text {
  color: #52555b;
}
.theme-switch {
  background: var(--bg-active);
  padding: 4px;
  border-radius: 10px;
}

.theme-btn {
  background: transparent;
  color: var(--text-secondary);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.theme-btn.active {
  background: var(--bg-card);
  color: var(--text-primary);
}
.dark .theme-btn-active {
  background: #002247;
}
