:root {
  --bg-main: #fcfcfc;
  --bg-card: #ffffff;
  --bg-sidebar: #ffffff;
  --bg-active: #f5faff;

  --text-primary: #242424;
  --text-secondary: #525252;
  --text-muted: #696969;
  --text-caption: #7d7d7f;

  --border: #e9e9e9;
  --border-soft: #f5f6f8;
  --border-dashed: #cccccc;

  --primary: #007bff;
}

.dark {
  --bg-main: #060c18;
  --bg-card: #091120;
  --bg-sidebar: #091120;
  --bg-active: #041933;

  --text-primary: #ffffff;
  --text-secondary: #afaeb2;
  --text-muted: #848890;
  --text-caption: #848890;

  --border: #203e62;
  --border-soft: #2f3132;
  --border-dashed: #203e62;

  --primary: #007bff;
}
/* Pedram was here */
